.IntroInformation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  -webkit-min-height: 100svh;
  -moz-min-height: 100svh;
  padding-left: 10%;
  padding-right: 10%;
}


.IntroInformation .TextBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.IntroInformation .TextBlock .Wrapper p {
  position: relative;
  font-size: 2rem;
}

.IntroInformation .TextBlock .Wrapper p::before {
  position: absolute;
  top: -3rem;
  left: -1.8rem;
  content: "<p>";
  font-family: "Single Day", cursive;
  font-size: 2.4rem;
  font-weight: normal;
  color: #515152;
}

.IntroInformation .TextBlock .Wrapper p::after {
  position: absolute;
  bottom: -3rem;
  left: -1.8rem;
  content: "</p>";
  font-family: "Single Day", cursive;
  font-size: 2.4rem;
  font-weight: normal;
  color: #515152;
}

.IntroInformation .SphereBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
