.Contact {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  padding-left: 10%;
  min-height: 100vh;
  -webkit-min-height: 100svh;
  -moz-min-height: 100vh;
}

.Contact > div {
  z-index: 5;
}

.Contact::before {
  position: absolute;
  top: 10vh;
  left: 35vw;
  content: "@";
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50rem;
  color: rgba(163, 163, 163, .03);
  z-index: 0;
}

.Contact .FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5rem;
  width: 45%;
}

.Contact .FormContainer .TextDetails {
  margin-bottom: 8rem;
}

.Contact .MapContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 55%;
}

.Contact .MapContainer .LocationDetails {
  position: absolute;
  top: 10vh;
  left: 3rem;
  background: rgba(3, 3, 3, 0.87);
  padding: 2rem 3rem;
  font-family: 'Karla', sans-serif;
  font-size: 2rem;
}

.Contact .MapContainer .LocationDetails p {
  white-space: nowrap;
}

.Contact .MapContainer .LocationDetails p a {
  color: #ffffff;
}

.Contact .MapContainer .LocationDetails .LabelWrapper {
  color: #2FB4FF;
}

.Contact .MapContainer .Wrapper img {
  width: 100%;
  max-width: 90rem;
}

@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1100px) {
  .Contact {
    margin-bottom: 5rem;
  }
  .Contact .MapContainer .LocationDetails {
    top: 20vh;
  }
}

@media screen and (max-width: 600px) {
  .Contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }
  .Contact .FormContainer {
    width: auto;
    padding: 0 10rem;
    margin: 0 0 10rem;
  }
  .Contact .MapContainer {
    width: 100%;
  }
  .Contact .MapContainer .LocationDetails {
    top: 1vh;
    font-size: 1.8rem;
  }
  .InputFieldContainer input, .InputFieldContainer input,
  .InputFieldContainer input, .InputFieldContainer textarea {
    border-radius: 0;
    font-weight: lighter;
  }
  .ContactForm .FourthRow .ContactFormButton {
    font-weight: normal;
  }
  .Contact .MapContainer .Wrapper img {
    max-width: none;
  }
}

@media screen and (max-width: 380px) {
  .Contact {
    margin-bottom: 0;
  }
  .Contact .MapContainer .LocationDetails {
    top: 1vh;
    font-size: 1.8rem;
  }
}
