.WelcomePage {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  -webkit-min-height: 100svh;
  -moz-min-height: 100svh;
}

.WelcomePage .Wrapper {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
}

.WelcomePage .Wrapper h1 {
  display: inline-block;
  margin: 0 0 4.5rem 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  white-space: nowrap;
  user-select: none;
  opacity: 1;
  transition: opacity 1.5s ease-out;
  transition-delay: 1s;
  -webkit-user-select: none;
}

.WelcomePage.AppearanceAnimation .Wrapper h1 {
  opacity: 1;
}

.WelcomePage .Wrapper h1::before {
  position: absolute;
  top: -6rem;
  left: -1.8rem;
  content: "<h1>";
  font-family: "Single Day", cursive;
  font-size: 2.4rem;
  font-weight: normal;
  color: #515152;
  transition: opacity 1s ease-out;
  opacity: 0;
}

.WelcomePage.AppearanceAnimation .Wrapper h1::before {
  opacity: 1;
}

.WelcomePage .Wrapper h1::after {
  position: absolute;
  right: -7rem;
  bottom: -3rem;
  content: "</h1>";
  font-family: "Single Day", cursive;
  color: #515152;
  font-size: 2.4rem;
  font-weight: normal;
  transition: opacity 1s ease-out;
  opacity: 0;
}

.WelcomePage.AppearanceAnimation .Wrapper h1::after {
  opacity: 1;
}

.WelcomePage .Wrapper p.FrontendDeveloper {
  position: relative;
  margin-top: 0;
  margin-bottom: 6rem;
  font-size: 2.4rem;
  letter-spacing: 0.4rem;
  color: #8D8D8D;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(20px);
  transition-delay: 0.7s;
}

.WelcomePage.AppearanceAnimation .Wrapper p.FrontendDeveloper {
  opacity: 1;
  transform: translateY(0);
}

.WelcomePage .Wrapper p.FrontendDeveloper::before {
  content: "<p>";
  font-family: "Single Day", cursive;
  color: #515152;
  font-size: 2.4rem;
  position: absolute;
  top: -3rem;
  left: -1.8rem;
}

.WelcomePage .Wrapper p.FrontendDeveloper::after {
  content: "</p>";
  font-family: "Single Day", cursive;
  color: #515152;
  font-size: 2.4rem;
  position: absolute;
  left: -1.8rem;
  bottom: -3rem;
}

.WelcomePage .Wrapper .Button {
  display: block;
  position: absolute;
  height: 5rem;
  min-width: 22rem;
  border: 0.2rem solid #0081FB;
  padding: 0;
  color: #0081FB;
  background: none;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4rem;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s 1s;
}

.WelcomePage.AppearanceAnimation .Wrapper .Button {
  opacity: 1;
  transform: translateY(0);
}

.WelcomePage .Wrapper .Button a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 4.5rem;
  text-decoration: none;
  color: #0081FB;
  transition: 0.5s;
}

.WelcomePage .Wrapper .Button:hover a,
.WelcomePage .Wrapper .Button:focus a {
  color: #000000;
  box-shadow: inset 0 0 0 2em #0081FB;
  cursor: pointer;
}

.WelcomePage .AdditionalElements {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.WelcomePage .AdditionalElements .wrapper {
  width: 100%;
  position: relative;
}

.WelcomePage .AdditionalElements .wrapper span {
  display: inline-block;
  position: absolute;
  font-size: 1.8rem;
  transform: rotate(90deg);
}

.WelcomePage .AdditionalElements .wrapper .scroll-1 {
  left: -3rem;
  bottom: 6rem;
}

.WelcomePage .AdditionalElements .wrapper .scroll-2 {
  right: -3rem;
  bottom: 6rem;
}

/*@media screen and (max-width: 1300px) {*/

/*}*/

/*@media screen and (max-width: 1100px) {*/
/*  .WelcomePage .Wrapper {*/
/*    padding-left: 2rem;*/
/*    padding-right: 2rem;*/
/*  }*/
/*  .WelcomePage .Wrapper h1 {*/
/*    font-size: 6rem;*/
/*    line-height: 7.5rem;*/
/*  }*/

/*}*/

/*@media screen and (max-width: 600px) {*/
/*  .WelcomePage .Wrapper {*/
/*    padding-left: 0;*/
/*    padding-right: 0;*/
/*  }*/
/*  .WelcomePage .Wrapper h1 {*/
/*    font-weight: 600;*/
/*    font-size: 3.5rem;*/
/*    line-height: 4.4rem;*/
/*  }*/
/*  .WelcomePage .Wrapper .Char-logo {*/
/*    width: 38px;*/
/*    height: auto;*/
/*    margin-bottom: -4px;*/
/*    margin-right: 4px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 380px) {*/
/*  .WelcomePage .Wrapper h1 {*/
/*    font-size: 2.8rem;*/
/*    line-height: 4rem;*/
/*  }*/
/*  .WelcomePage .Wrapper .Char-logo {*/
/*    width: 34px;*/
/*    height: auto;*/
/*    margin-bottom: -4px;*/
/*    margin-right: 4px;*/
/*  }*/
/*}*/
