.App {
  background-color: #212121;
  color: #ffffff;
  overflow: auto;
  padding: 18rem 3rem;
}

.App footer span::after {
  content: "<body>";
  font-family: "Single Day", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  top: 10px;
  left: 10px;
}

.App main {
  height: 100vh;
  padding-left: 5rem;
}

.App main h1 {
  display: inline-block;
  position: relative;
  margin: 0 0 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 8rem;
  line-height: 9rem;
  white-space: nowrap;
}

.App main h1::before {
  position: absolute;
  top: -60px;
  left: -18px;
  content: "<h1>";
  font-family: "Single Day", cursive;
  font-size: 1.8rem;
  font-weight: normal;
  color: #515152;
}

.App main h1::after {
  position: absolute;
  right: -70px;
  bottom: -30px;
  content: "</h1>";
  font-family: "Single Day", cursive;
  color: #515152;
  font-size: 1.8rem;
  font-weight: normal;
}

.App main .FrontendDeveloper {
  position: relative;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 1.6em;
  letter-spacing: 4px;
  color: #8D8D8D;
}

.App main p.FrontendDeveloper::before {
  content: "<p>";
  font-family: "Single Day", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  top: -25px;
  left: -18px;
}

.App main p.FrontendDeveloper::after {
  content: "</p>";
  font-family: "Single Day", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  left: -18px;
  bottom: -25px;
}

@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1100px) {
  .App main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .App main {
    padding-left: 0;
    padding-right: 0;
  }
  .App main h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 5rem;
  }
  .App main .Char-logo {
    width: 40px;
    height: auto;
  }
}

@media screen and (max-width: 380px) {
  .App main h1 {
    font-size: 2.8rem;
    line-height: 4rem;
  }
  .App main .Char-logo {
    width: 35px;
    height: auto;
  }
}
